header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    color: black;
    padding: 5px;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    
}
.navigation ul li{
    margin-right: 10px;
    outline: none;
    border: 1px solid green;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    list-style: none;
}
.navigation ul li:hover{
    background-color: green;
    color: white;
}
.navigation ul li a{
    color: black;
    text-decoration: none;
}
.navigation li{
    list-style: none;
}
.addressAccount{
    position: relative;
    color: black;
}
.addressAccount button{
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 10px;
}
.addressAccount .popup__message{
    position: absolute;
    right: 40px;
    width: 400px;
    top: 10px;
    /* padding: 2px 10px; */
    color: white;
    background-color: red;
    cursor: pointer;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.popup__message a{
    text-decoration: none;
    color: white;
}
